@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 21px;
  color: black;
  background-color: white;
}

.page-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  background-color: white;
  color: black;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 445px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navigation-list li {
  list-style-type: none;
}

.navigation-user {
  margin: 0;
  max-width: 300px;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;

}

.navigation-link {
  line-height: 26px;
  text-decoration: none;
  text-align: center;
  color: inherit;
  align-items: flex-start;
}

.visually-hidden {
  display: none;
}

.navigation-button {
  background: #756157;
  color: white;
  padding: 9px 15px;
  border-radius: 4px;
  font-size: 16px;
}

.main-images {
  background-image: url("../images/index-background.png");
  background-color: white;
  color: black;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.main-images {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}



.advantages-content {
  display: inline-block;
  list-style-type: none;
  width: 400px;
  height: 384px;
  background: #82B3D3;
  color: white;
  text-align: center;
  align-items: center;
}

.advantages-list {
  list-style-type: none;
}

.advantages-panels {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.services {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.button-services {
  background: #756157;
  color: white;
  padding: 12px 15px;
  border-radius: 4px;
  font-size: 20px;
  width: 574px;
  height: 60px;

}

.spam {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.spam-images {
  background-image: url("../images/background-spam.png");
  width: 1200px;
  height: 411px;
  background-color: white;
  color: black;
  background-repeat: no-repeat;
  background-size: 100% auto;

}
.social-link {
  margin: 12px;
  text-decoration: none;
}

.phone-numder a {
  font-size: 40px;
  text-decoration: none;
  color: black;
}

footer {
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-list {
  display: flex;
  list-style-type: none;
  flex-direction: row;
}
