@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  ;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  width: 1200px;
}

#wraper {
  margin: 0 auto;
}

.page-header {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  background-color: white;
  color: black;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 239px);
}

.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  align-items: center;
}

.navigation-item {
  margin: 0px 17px 0px 17px;
}

.navigation-user {
  margin: 0 70px 0 0;
  max-width: 300px;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  align-items: center;


}

.navigation-link {
  line-height: 26px;
  text-decoration: none;
  text-align: center;
  color: inherit;
  align-items: flex-start;
}

.visually-hidden {
  display: none;
}

.navigation-button {
  background: #756157;
  color: white;
  padding: 9px 15px 8px 15px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  min-width: 130px;
  display: block;
}

.main-images {
  background-image: url("../images/index-background.png");
  background-color: white;
  color: black;
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 485px;
  padding-top: 51px;
}

.main-images {
  display: block;
}

.welcome {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.divider {
  position: relative;
  top: 25px;
}

.main-inner h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}


.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.description h1 {
  font-size: 30px;
  line-height: 36px;
}

.description p {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-content {
  padding: 92px 85px;
  text-align: center;
}

.advantages-content b {
  font-size: 24px;
  line-height: 28px;
}

.advantages-content p {
  font-size: 18px;
  margin: 0;
}

.real-city {
  display: flex;
  list-style-type: none;
  height: 384px;
  background: #82B3D3;
  color: white;
  text-align: center;
  align-items: center;
}

.advantages-list {
  list-style-type: none;
  padding: 0;
}

.devil-bridge {
  display: flex;
  list-style-type: none;
  height: 384px;
  background: #82B3D3;
  color: white;
  text-align: center;
  align-items: center;
}

.devil-bridge .advantages-content {
  flex-direction: column;
  text-align: center;
  justify-content: center;

}

.advantages-list>li:nth-child(n+3):nth-child(-n+5) b {
  color: #000000;
}

.advantages-list>li:nth-child(n+3):nth-child(-n+5) p:first-of-type {
  color: #000000;
}

.advantages-list>li:nth-child(n+3):nth-child(-n+5) p:last-of-type {
  color: #333333
}

.advantages-list>.advantages-content:first-of-type, .advantages-list>.advantages-content:last-of-type {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-list> :nth-of-type(4) {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-list>.advantages-content:nth-child(3), .advantages-list>.advantages-content:last-of-type {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-panels {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.bottom-panels .advantages-content {
  padding: 103px 85px 102px 85px;
}

.bottom-panels .advantages-content b {
  word-break: break-all;
}

.advantages-panels li:first-child, .advantages-panels li:last-child {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-panels h2 {
  line-height: 28px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
}

.advantages-panels li {
  font-size: 18px;
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 85px 81px 85px;
}

.number-sub-title {
  padding-top: 30px;
  padding-bottom: 30px;
}

.panels-sub-title {
  white-space: normal;
  text-align: center;
}

.services {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.services h2 {
  font-size: 30px;
  line-height: 36px;
  margin: 91px 451px 29px 452px;
}

.services p {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 304px 56px 304px;
}

.button-services {
  background: #756157;
  color: white;
  padding: 12px 15px;
  border-radius: 4px;
  font-size: 20px;
  width: 574px;
  height: 60px;
  margin: 0 313px 93px 313px;
}

.spam {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.spam h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.spam-images h2 {
  margin: 94px 398px 29px 398px;
}

.spam-images p {
  margin: 0px 362px 46px 363px;
}

.spam p {
  font-size: 22px;
  line-height: 26px;
}

.button-spam {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 0 10px 10px 0;
  width: 200px;
}

.spam-images {
  background-image: url("../images/background-spam.png");
  width: 1200px;
  height: 411px;
  background-color: white;
  color: black;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.spam-images p {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 0px 362px 46px 363px
}

.spam-images h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 94px 398px 29px 398px;
}

.form-style {
  display: flex;
  margin: auto;
  width: 800px;
}

form input {
  width: 600px;
  height: 60px;
  border-radius: 10px 0 0 10px;
  padding-left: 22px;
}


.social-link {
  margin: 12px;
  text-decoration: none;
}

.phone-numder a {
  font-size: 40px;
  text-decoration: none;
  color: black;
  line-height: 40px;
}

.inner-header-tittle {
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs-link {
  color: #FFFFFF;
}

form span {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

form label {
  font-size: 18px;
  color: #FFFFFF;
}

.form-control {
  font-family: 'PT Sans';
  font-size: 18px;
  background: none;
}

.form-control::placeholder {
  color: #FFFFFF;
  opacity: 0.3;
}

form button {
  font-family: 'PT Sans';
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
}

form button:first-of-type {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background: #82B3D3;
}

.select-control {
  font-family: 'PT Sans';
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card {
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card span {
  font-size: 18px;
  color: #333333;
}

.product-card .product-card-button {
  background: #756157;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.product-card a:nth-of-type(3) {
  background: #82B3D3;
}

.product-card:nth-of-type(2) a:nth-of-type(3) {
  background: #7DB54F;
}


.rating-caption h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background: #F2F2F2;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background: #82B3D3;
}

.pagination-current {
  background: #F2F2F2;
}

.breadcrumbs {
  list-style-type: none;
}

.filters {
  background-image: url("../images/background-catalog-filters.jpg");
  background-color: white;
  color: black;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

form input {
  background: #F2F2F2;
}

form button {
  background: none;
}

.rating-caption p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background: #F2F2F2;
}


.hotels-per-page {
  display: flex;

}

footer {
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-list {
  display: flex;
  list-style-type: none;
  flex-direction: row;
}

.icon-logo {
  margin-bottom: -5px;
  position: relative;
}
